---

---
<section>
  <img src="/hero.avif" class="hero" alt="¡Nos casamos!">
  <div class="heroText">
    <span>¡Nos casamos!</span>
  </div>
  <img src="/leaves1.svg" class="leaves1">
</section>
<style>
  section {
    display: flex;
    position: relative;
    animation: fadeInAnimation ease 3s;
  }
  .hero {
    width: 100%;
    height: 100%;
  }

  .heroText {
    position: absolute;
    width: 240px;
    right: 40px;
    bottom: 40px;
    transform: rotate(-20deg);

    span {
      font-family: 'Breathney Demo';
      font-size: 30px;
    }
  }

  .leaves1 {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 200px;
    object-fit: cover;

    @media (width < 700px) {
      height: 40%;
    }
  }
  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
</style>