---

---
<section>
  <img src="/hero.avif" class="hero" alt="¡Nos casamos!">
  <!-- <div class="heroText">
    <span>¡Nos casamos!</span>
  </div> -->
</section>
<style>
  .section {
    position: relative;
  }
  .hero {
    width: 100%;
    /* position: absolute; */
  }

  .heroText {
    position: relative;
    width: 230px;
    right: 40px;
    top: 600px;
    /* bottom: 110px; */
    transform: rotate(-20deg);
    /* display: inline-block; */
    
    span {
      font-family: 'Breathney Demo';
      font-size: 30px;
    }
  }

  .leaves1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
</style>