---
interface Props {
	quote: string;
  author: string;
}

const { quote, author } = Astro.props;
---
<section>
  <p class="quote" data-aos="fade-down">{quote}</p>
  <p class="author" data-aos="fade-up">{author}</p>
  <img src="/gallery1.avif" class="mainImage" data-aos="fade-up">
  <img src="/leaves2.svg" class="leaves2">
</section>
<style>
  section {
    background-color: #EFEAE7;
    min-height: 800px;
    padding: 100px 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

  }
  .quote {
    width: 900px;
    max-width: 90%;
    text-align: center;
    font-size: 24px;
    letter-spacing: 5px;
    line-height: 50px;
  }
  .author {
    width: 900px;
    max-width: 90%;
    text-align: end;
    font-family: 'Breathney Demo';
    font-size: 20px;
    padding-right: 70px;
  }
  .mainImage {
    max-width: 400px;
    width: 90%;
    aspect-ratio: 743 / 1181;
    object-fit: cover;
  }
  .leaves2 {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 400px;
    @media (width < 900px) {
      height: 20%;
    }
  }
</style>