---
interface Props {
	title: string;
}

const { title } = Astro.props;
import "aos/dist/aos.css";
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Invitación digital para la boda de Cinthya y Ricardo" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
		<link rel="canonical" href="https://cinthyayricardo.vercel.app/" />
		<meta property="og:image" content='https://cinthyayricardo.vercel.app/hero.avif' />
		<meta property="og:title" content='La boda de Cinthya y Ricardo'/>
		<meta property="og:description" content='Invitación digital para la boda de Cinthya y Ricardo'/>
		<meta property="og:url" content="https://cinthyayricardo.vercel.app/" />
		<meta property="og:site_name" content="Cinthya y Ricardo" />
		<meta property="og:type" content="website" />
		<meta property="og:locale" content="es_ES" />
	</head>
	<body>
		<slot />
		<script>
			import { aosInit } from '../js/aos.js';
		
			// runs on initial page load
			aosInit();
			document.addEventListener("astro:after-swap", aosInit);
		</script>
	</body>
</html>
<style is:global>
	:root {
		--background-color: #EFEAE7;
		--typography-color: #060707;
		--leaf-color: #AF8D37;

	}
	html, body {
		margin: 0;
		color: var(--typography-color);
	}
	@font-face {
		font-family: 'Breathney Demo';
		src: url('/fonts/Breathney Demo.ttf');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
</style>